:root { 
  --main-text: #001833;
  --gray-text: #606F81;
  --main-light: #FAFCFF;
  --background-color: #FCFCFC;
  --error: #FF3333;
  --light-error: #FFE5E6;
  --main: #54CF7A;
  --secondary-button: #F3FCF6;
  --border-gray: rgba(0, 24, 51, 0.1);
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  scroll-behavior: smooth;
} /*16px*/

body {
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: var(--main-text);
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
}

p, a {
  margin-bottom: .38rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .38rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text-small {font-size: 0.889rem;}

.text-smaller {font-size: 0.79rem;}

.text-smallest {font-size: 0.702rem;}

small, .text-small, .text-smaller, .text-smallest {
  color: var(--gray-text);
  font-weight: 400;
}

section {
  padding: 15px 0 5px 0;
}

input[type='color'] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  background-color: var(--main-light);
  border-radius: 5px;
  border: 2px solid var(--main-text);
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 2px;
}

input[type='color']::-webkit-color-swatch {
	border: none;
  border-radius: 5px;
}

.main-flex, .content-flex {
  display: flex;
  flex-direction: column;
}

.content-flex {
  justify-self: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold !important;
}

.non-bold {
  font-weight: 400 !important;
}

.light {
  font-weight: 300 !important;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -9999;
}

.file-label {
  display: flex;
  flex-direction: row;
}

.input-wrapper {
  position: relative;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-text);
  background: var(--main-light);
  padding: 0;
  margin: 15px 0px;
}

.input-wrapper.valid {
  border: 2px solid var(--main);
}

.input-wrapper.invalid {
  border: 2px solid var(--error);
  margin-bottom: 0px;
}

.input-wrapper.xs {
  width: 10%;
}

.input-wrapper.sm {
  width: 25%;
}

.input-wrapper.md {
  width: 50%;
}

.input-wrapper.lg {
  width: 75%;
}

.input-wrapper.block {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  font-weight: 400;
  text-indent: 0.75rem;
  color: var(--main-text);
  border: 2px solid transparent;
  padding: 0;
  margin: 0;
}

.input:focus {
  outline: 0;
}

.input-wrapper:focus-within {
  border: 2px solid var(--main-text);
}

.input:focus + .input-placeholder {
  background: var(--main-light);
  transform: translate(0.625rem, -10px) scale(0.8);
  color: var(--main-text);
}

.input-placeholder.focused {
  background: var(--main-light);
  transform: translate(0.625rem, -10px) scale(0.8);
}

.input-placeholder {
  color: var(--main-text);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0 0.25rem;
  font-weight: 700;
  transform: translate(0.5rem, 10px);
  transform-origin: 0% 0%;
  background: transparent;
  pointer-events: none;
  transition: transform 0.35s, background 0.35s;
}

.input-wrapper.valid .input-placeholder {
  color: var(--main);
}

.input-wrapper.invalid .input-placeholder {
  color: var(--error);
}

.input-wrapper.invalid ~ p{
  color: var(--error);
  margin-top: 5px;
}

.input-wrapper p {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  padding: 0px 10px;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  height: 40px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.button:focus {
  outline: none;
}

.button.primary {
  background-color: var(--main);
}

.button.primary p {
  color: white;
}


.button.block {
  display: block;
  width: 100%;
}

.button.secondary {
  background-color: var(--background-color);
  border: 1px solid var(--main);
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 5px;
  width: auto;
}

.button.secondary:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
  transition: all 0.2s ease-in-out;
}

.button.secondary p {
  color: var(--main);
}

.button.secondary:hover p {
  color: var(--background-color);
}

.button.primary:disabled, .button.secondary:disabled {
  filter: opacity(40%);
  box-shadow: none;
}

.button p {
  margin: 0px 12px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 45px;
  box-shadow: 0px 0px 10px 0px var(--border-gray);
  z-index: 1024;
  justify-content: center;
}

.dropzone {
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: 2px dashed var(--main-text);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropzone p{
  margin: 0;
  padding: 0;
}

.dropzone.dragging-file{
  background-color: var(--secondary-button);
  border: 2px dashed var(--main);
}

.dropzone.rejecting-file{
  background-color: var(--light-error);
  border: 2px dashed var(--error);
}

.main-text {
  color: var(--main);
}

.icon {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  border: 1px solid var(--gray-text);
  border-radius: 5px;
}
